@charset "utf-8";

/********** Global **********/
/*
 *常用背景色： #0f1c30 #0b0f34 (6,64,102) (29,45,57) (7,33,58) (8,13,28) (15,43,36)
 */
html, body {
	width:100%;
	height:100%;
	min-height:635px;
	font-family:"microsoft yahei", arial, sans-serif;
	background-color:#0f1c30;
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 100%;
	overflow-x:hidden;
	overflow-y:auto;
}
body.bg05 {background-image:url("../img2/bg05.png");}
body.bg06 {background-image:url("../img2/bg06.png");}
body.bg07 {background-image:url("../img2/bg07.png");}
body.bg08 {background-image:url("../img2/bg08.png");}
.header {
	margin:0 auto;
	width:100%;
	height:72px;
	max-width:1920px;
	background:url("../img2/header.png") center no-repeat;
	background-size:100% 100%;
}
.header h3 {
	margin:0;
	padding:0;
	line-height:44px;
	text-align:center;
	font-size:24px;
	color:#5dc2fe;
}
.wrapper {position:absolute;top:87px;bottom:0;left:0;right:0;min-height:545px;}
.container-fluid {height:100%;min-height:100%;}
.row {margin-left:-7px;margin-right:-8px;}
.row>div {padding-left:7px;padding-right:8px;}
.xpanel-wrapper {padding-bottom:15px;box-sizing:border-box;}
.xpanel-wrapper-1 {height:100%;}
.xpanel-wrapper-2 {height:50%;}
.xpanel-wrapper-1-3 {height:45%;}
.xpanel-wrapper-2-3 {height:55%;}
.xpanel {
	padding:15px;
	height:100%;
	min-height:170px;
	background:url("../img2/panel.png") center no-repeat;
	background-size:100% 100%;
	box-sizing:border-box;
}

/* tool */
.fill-h {height:100%;min-height:100%;}
.no-margin {margin:0 !important;}
.no-padding {padding:0 !important;}
.no-bg {background:none !important;}
.no-border {border:0 !important;}

/* scrollbar */
::-webkit-scrollbar {width:0;height:0;}
::-webkit-scrollbar-track {background-color:transparent;}
::-webkit-scrollbar-thumb {border-radius:5px;background-color:rgba(0, 0, 0, 0.3);}

#switch_btn{
    background-image: url(../icon/2.png);
    width:5.45rem;
    height:5.45rem;
    position:absolute;
    top:0.2rem;
    right:4.2rem;
    z-index: 99999;
    background-size: cover;
}

*
{
	cursor: url('../icon/1.cur'), default;
}


/* 词云 */
body {	
	/*background: #000 url(index.png) no-repeat center 230px;*/
}
#div1 {
	position:relative; width:0%; height:500px; margin:0 auto ; 
}
#div1 a {
	position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; 
	color:#000; 
	font-weight:bold; 
	text-decoration:none; 
	padding: 3px 6px; 
}
#div1 a:hover {border: 1px solid #eee; background: #ccc; }
#div1 .blue {color:blue;}
#div1 .red {color:red;}
#div1 .yellow {color:yellow;}

p { font: 16px Microsoft YaHei; text-align: center; color: #ba0c0c; }
p a { font-size: 14px; color: #ba0c0c; }
p a:hover { color: red; }